* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-image: url("../image/guitar-bg.jpg");
    background-size: contain;
}

#wrapper {
    width: 1200px;
    border: solid 1px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: wheat;
}

h1 {
    color: black;
    text-align: center;
}

#login {
    border: solid 1px red;
    position: relative;
    top: 40%;
}

#login > form {
    text-align: center;
    border: solid 1px darkgreen;
    width: 300px;
    margin: 0 auto;
    background-color: wheat;
    padding: 20px;
}

#guitar-list > li {
    margin: 30px;
    padding: 10px;
    border-bottom: solid 1px;
    background-color: #ffb667;
    list-style: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    transition: all .2s ease-in-out;
}

#guitar-list > li:hover {
    background-color: greenyellow;
    /*margin: 15px;*/
    /*zoom: 110%;*/
    transform: scale(1.05);
}

#guitar-list > li > h3 {
    margin: 10px 0;
    font-size: 18px;
    text-transform: capitalize;
}

#guitar-list > li > div {
    display: flex;
    flex-direction: row;
}

#guitar-list > li > div > p {
    padding: 10px;
    margin-left: 10px;
    flex-grow: 1;
}

#guitar-list > li > div > img {
    height: 200px;
    width: 400px;
    border: solid 5px black;
    border-radius: 10px;
}
