* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-image: url("../image/guitar-bg.jpg");
    background-size: contain;
}

#wrapper {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: wheat;
}

#wrapper.login {
    height: 100%;
    background-color: transparent;
}

h1 {
    color: black;
    text-align: center;
}

#login {
    position: relative;
    top: 40%;
}

#login > form {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    background-color: wheat;
    padding: 20px;
    overflow: hidden;
    border-radius: 20px;
}

#login > form input {
    margin: 5px 0;
}

#login > form button {
    margin-top: 10px;
    float: none;
}

article {
    overflow: hidden;
}

article > img {
    height: 200px;
    float: right;
    border-radius: 10px;
}

article > p {
    margin: 5px 0;
}

#guitar-list > li, #basket > li, article {
    margin: 30px;
    padding: 10px;
    border-bottom: solid 1px;
    background-color: #ffb667;
    list-style: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    transition: all .2s ease-in-out;
    overflow: hidden;
}

#guitar-list > li:hover {
    background-color: greenyellow;
    transform: scale(1.05);
}

#guitar-list > li > h3 {
    margin: 10px 0;
    font-size: 18px;
    text-transform: capitalize;
}

#guitar-list > li > div {
    display: flex;
    flex-direction: row;
}

#guitar-list > li > div > p {
    padding: 10px;
    margin-left: 10px;
    flex-grow: 1;
}

#guitar-list > li > div > img {
    height: 200px;
    width: 400px;
    border: solid 5px black;
    border-radius: 10px;
}

button {
    float: right;
    padding: 5px;
    background-color: #dfffd3;
    border-radius: 10px;
    margin: 0 10px;
}

#basket > li {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    box-shadow: none;
}

#basket > li:last-child {
    display: block;
    background-color: transparent;
    border: none;
}

#basket > li > h3 {
    margin-left: 20px;
    line-height: 70px;
}

#basket > li > img {
    width: 150px;
    height: 100%;
    border: solid 2px deeppink;
    border-radius: 15px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #ffb667;
}

nav > ul > li {
    padding: 10px;
    margin: 10px;
    background-color: snow;
    border-radius: 10px;
    font-weight: bold;
    line-height: 28px;
}

nav > ul > li:last-child {
    background-color: transparent;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

nav > ul > li:hover {
    background-color: greenyellow;
}

.category-list {
    margin: 30px 20px 0;
    display: flex;
    list-style: none;
}

.category-list > li {
    padding: 10px;
    margin: 10px;
    background-color: #ffb667;
    border-radius: 10px;
    font-weight: bold;
}

.category-list > li.selected {
    background-color: greenyellow;
}

.category-list > li > a {
    text-decoration: none;
    color: black;
}

.list-navigation {
    padding: 0 40px 20px;
    overflow: hidden;
}

.list-navigation > a {
    padding: 10px;
    background-color: #dfffd3;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    float: right;
}

.list-navigation > a.Back {
    float: left;
}
